<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jingzhou</key>
	<dict>
		<key>xuanmiaoguan</key>
		<integer>1</integer>
		<key>kaiyuanguan</key>
		<integer>1</integer>
		<key>shangchang</key>
		<integer>1</integer>
		<key>beidamen</key>
		<integer>9</integer>
	</dict>
	<key>shashi</key>
	<dict>
		<key>jiangbian</key>
		<integer>2</integer>
		<key>bianhe</key>
		<integer>3</integer>
		<key>gongyuan</key>
		<integer>3</integer>
		<key>jiexiang</key>
		<integer>9</integer>
		<key>niaokan</key>
		<integer>2</integer>
		<key>shangshe</key>
		<integer>7</integer>
		<key>xuexiao</key>
		<integer>1</integer>
		<key>yundong</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
